{% extends 'admin_base.html' %}

{% block  title%}
    商品信息
{% endblock %}

{% block label %}
    商品信息
    <a href="/admin_add/">增加信息</a>
{% endblock %}

{% block content %}
    <div class="container-fluid">
    <table class="table">
        <thead>
            <tr>
                <th>文章标题</th>
                <th>文章日期</th>
                <th>文章作者</th>
                <th>文章类型</th>
                <th>文章描述</th>
                <th>文章推荐</th>
            </tr>
        </thead>
        <tbody>
        {% for one in page_obj %}
            <tr>
                <th>{{ one.title }}</th>
                <th>{{ one.date }}</th>
                <th>{{ one.author.name }}</th>
                <th>{% for each in  one.type.all %}{{ each.name }}{% endfor %}</th>
                <th>{{ one.description | truncatechars:20 | safe }}</th>
                <th>{{ one.recommend }}</th>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        </tfoot>
    </table>
    <div style="float: right;margin-right: 70px">
        <ul class="pagination">
{#            首页#}
            <li class="paginate_button page-item previous" >
                <a href="/admin_all_article/1/" class="page-link">首页</a>
            </li>
{#            上一页#}
            {% if page_obj.has_previous %}
            <li class="paginate_button page-item previous" >
                <a href="/admin_all_article/{{ page_obj.previous_page_number }}/" class="page-link">上一页</a>
            </li>
            {% endif %}

            {% for page in page_range %}
{#            当前页#}
            <li class="paginate_button page-item previous" >
                <a href="/admin_all_article/{{ page }}/" class="page-link">{{ page }}</a>
            </li>
            {% endfor %}

{#            下一页#}
            {% if page_obj.has_next %}
            <li class="paginate_button page-item previous" >
                <a href="/admin_all_article/{{ page_obj.next_page_number }}/" class="page-link">下一页</a>
            </li>
        {% endif %}

{#                尾页#}
                <li class="paginate_button page-item previous" >
                <a href="/admin_all_article/{{ paginator.num_pages }}/" class="page-link">尾页</a>
            </li>

        </ul>
    </div>
{% endblock %}